<div ng-controller='RestaurantsController' class='slidedown'>
  <div class="jumbotron text-center">

    <div ng-if='madeSelection'>
      <p>made selection? {{madeSelection}}</p>
      <h1>Maximum Nommage!!</h1>
      <h3>Your Food was CHOSEN in:</h3>
      <h3>{{round.elapsed()}} seconds</h3>
      <div ng-if='!getYoFood'>
        <span class='flash'>YOUR CHOICES ARE BATTLING IT OUT</span>
      </div>
      <a ui-sref='final' ng-if='getYoFood' ng-controller='RestaurantsController' class='btn btn-lg btn-danger'>GET YO FOOD</a>
    </div>

    <div ng-if='!madeSelection'>
      <p>made selection? {{madeSelection}}</p>
      <h1>Nuttin but NOPES!!</h1>
      <h3>But hey, have a nom on US:</h3>
      <div ng-if='!getYoFood'>
        <span class='flash'>YOUR CHOICES ARE BATTLING IT OUT</span>
      </div>
      <a ui-sref='final' ng-if='getYoFood' ng-controller='RestaurantsController' class='btn btn-lg btn-danger'>GET YO FOOD</a>
    </div>

  </div>
</div>