<div ui-view="final" ng-controller="RestaurantsController" class='revealshow'>
    <h3>WINNER</h3>
      <ul class='food slider'>
          <div class='fooditem well well-lg food'>
            <google-map center="winner.map.center" zoom='14'>
              <marker coords="winner.map.center"></marker>
            </google-map>
            <p>Name: {{winner.name}}</p>
            <p>Address: {{winner.address}}</p>
            <p>Phone: {{winner.formattedPhoneNumber}}</p>
            <p>Distance from you: {{winner.distance}}m</p>
          </div>
      </ul>
    <div class='arrows text-center'>
        <a class='btn btn-primary btn-lg' href="/">
          Still Hungry?
        </a>
    </div>
  </div>
</div>