<div ng-controller='RestaurantsController' class='slidedown'>
  <div class="post-round jumbotron text-center">

    <div ng-if='madeSelection'>
      <h2 class='header'>Maximum Nommage!!</h2>
      <h4 class='subheading'>Your Food was CHOSEN in:</h4>
      <h4 class='subheading'>{{round.elapsed()}} seconds</h4>
      <div ng-if='!getYoFood'>
        <span class='flash'>YOUR CHOICES ARE BATTLING IT OUT</span>
      </div>
      <a ui-sref='final' ng-if='getYoFood' ng-controller='RestaurantsController' class='btn btn-lg btn-danger'>FOOD ME!</a>
    </div>

    <div ng-if='!madeSelection'>
      <h2 class='header' >Nuttin but NOPES!!</h2>
      <h4 class='subheading'>But hey, have a nom on US:</h4>
      <div ng-if='!getYoFood'>
        <span class='flash'>YOUR CHOICES ARE BATTLING IT OUT</span>
      </div>
      <a ui-sref='final' ng-if='getYoFood' ng-controller='RestaurantsController' class='btn btn-lg btn-danger'>FOOD ME!</a>
    </div>

  </div>
</div>