<div class="slider">
  <ul class='food'>
    <li class='text-center' ng-repeat="image in images" ng-show="image.visible">
      <div class="slide modal-content">
      <img class='food img-responsive img-rounded' ng-src="{{image.src}}"/>
      </div>
    <li>
  </ul>
  <div class="arrows text-center">
    <div class='btn-group'>
      <button class='btn btn-default btn-md' ng-click="prev()">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </button>
      <button class='btn btn-default btn-md' ng-click="start()">
        Start
      </button>
      <button class='btn btn-default btn-md'ng-click="end()">
        End
      </button>
      <button class='btn btn-default btn-md' ng-click="next()">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </button>
    </div>
    <div class='clearfix'></div>
  </div>
  <div class='clearfix'></div>
</div>